# wymuszenie pobierania wersji z obsługą karty graficznej (CUDA 12.1)
# (aby CUDA była wspierana, potrzebujemy wersji pythona: 3.8/3.9/3.10/3.11/3.12)
--extra-index-url https://download.pytorch.org/whl/cu121

# KONFIGURACJA ŚRODOWISKA:
# python -m venv venv
# venv\Scripts\activate
# pip install -r requirements.txt

# biblioteki PyTorch
torch
torchvision

# praca z danymi i matematyka
numpy
pandas
scikit-learn  # przyda się do generowania macierzy pomyłek (Confusion Matrix)

# wizualizacja (do wyświetlania psów w notatniku)
matplotlib
seaborn

# notatniki Jupyter
notebook

# interfejs graficzny
gradio